body {
  background: #FFFFFF;
  color: #181818;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 100;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 48px 0 0 0;
  width: 90vw;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 100;
}

.nav-left {
  margin-left: 5vw;
}

.nav-right {
  margin-right: 5vw;
  display: flex;
  gap: 2rem;
}
.nav-right a {
  color: #6c7f91;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  transition: color 0.18s;
}
.nav-right a:hover {
  color: #6c7f91;
}

.navbar-line {
  width: 100vw;
  height: 5px;
  background: #6c7f91;
  opacity: 1;
  margin: 32px 0 0 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;           
  padding: 10px 6px;  
  justify-content: center;             
  margin: 60px auto 0 auto;
  max-width: 90vw;
}

.gallery-item img {
  width: 80%;       
  height: auto;      
  display: block;     
  margin-bottom: 6px; 
}
.ngallery {
  display: grid;
  grid-template-columns: 1fr 1fr;     
  gap: 16px;          
  margin: 60px auto 0 auto;
  padding: 48px 0 24px;
  justify-content: center;
  max-width: 90vw;
}

.ngallery img{
  height: 20vh;                 
  width: auto;                    
  object-fit: contain;            
  display: block; 
}

.ngallery-item.left {
  height: 20vh;          
  width: auto;      
  display: block;     
  margin-bottom: 4px; 
  justify-content: flex-start;
}
.ngallery-item.right {
  height: 20vh;          
  width: auto;     
  display: block;     
  margin-bottom: 4px; 
  justify-self: end;
}


.caption {
  color: #e2dfd5;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 3px;
  opacity: 0.9;
}

@media (max-width: 1050px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    gap: 28px;
  }
}
@media (max-width: 700px) {
  .navbar {
    padding-top: 24px;
    font-size: 1.2rem;
  }
  .nav-right a {
    font-size: 1rem;
    gap: 1rem;
  }
  .gallery {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .gallery-item img {
    max-width: 96vw;
    height: auto;
  }
  .caption {
    font-size: 1.1rem;
  }
}
